.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid var(--border-secondary);
  padding: 0 var(--spacing-2xl);

  > p {
    color: var(--text-secondary);
  }
}

.tool {
  display: flex;
  gap: var(--spacing-5xl);
}
