.switch-container {
  position: relative;
  display: flex;
  background-color: var(--background-primary);
  border-radius: 4px;
  overflow: hidden;
  height: var(--height-lg);
  border: 1px solid var(--border-secondary);
  width: 100%;
}

.switch-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;

  &:not(:last-child) {
    border-right: 1px solid var(--border-secondary);
  }
}

.switch-option.selected {
  background-color: var(--primary);
  color: var(--text-primary);
}

.switch-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--primary);
  border-radius: 25px;
  z-index: -1;
}

.switch-indicator.animating {
  transition: transform 1s ease-in-out;
}
